<div fxFlex="100" fxLayout="row wrap" *ngIf="modelLoaded == 1">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/user.png" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{user.name}}</div>
      </div>
    </mat-card>
    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>{{'CONTACTINFO' | translate}}</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon>
            {{user.email}}
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">phone</mat-icon>
            {{user.mobileNumber}}
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">access_time</mat-icon>
            {{user.createdDate | date}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Profile Views -->
  <div fxFlex="calc(100% - 300px)" fxFlex.gt-sm="calc(100% - 300px)" fxFlex.gt-md="calc(100% - 300px)">
    <mat-card class="p-0">
      <mat-tab-group>
        <mat-tab label="{{'ACCOUNTSETTINGS' | translate}}">
          <mat-card-content class="mt-1">
            <form #form="ngForm" [formGroup]="itemForm" (ngSubmit)="submit()">
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [formControl]="itemForm.controls['email']"
                      placeholder="{{'EMAIL' | translate}}">
                  </mat-form-field>
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [formControl]="itemForm.controls['mobileNumber']"
                      placeholder="{{'PHONE' | translate}}">
                  </mat-form-field>
                  <small
                    *ngIf="itemForm.controls['mobileNumber'].hasError('required') && itemForm.controls['mobileNumber'].touched"
                    class="form-error-msg"> {{'PHONEREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="itemForm.controls['mobileNumber'].hasError('serverValidation') && itemForm.controls['mobileNumber'].touched"
                    class="form-error-msg"> {{itemForm.controls['mobileNumber'].errors.serverValidation}}
                  </small>
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [formControl]="itemForm.controls['name']"
                      placeholder="{{'First Name' | translate}}">
                  </mat-form-field>
                  <small
                    *ngIf="itemForm.controls['name'].hasError('required') && itemForm.controls['name'].touched"
                    class="form-error-msg"> {{'NAMEREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="itemForm.controls['name'].hasError('serverValidation') && itemForm.controls['name'].touched"
                    class="form-error-msg"> {{itemForm.controls['name'].errors.serverValidation}}
                  </small>
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [formControl]="itemForm.controls['lastName']"
                      placeholder="{{'Last Name' | translate}}">
                  </mat-form-field>
                  <small
                    *ngIf="itemForm.controls['lastName'].hasError('required') && itemForm.controls['lastName'].touched"
                    class="form-error-msg"> {{'NAMEREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="itemForm.controls['lastName'].hasError('serverValidation') && itemForm.controls['lastName'].touched"
                    class="form-error-msg"> {{itemForm.controls['lastName'].errors.serverValidation}}
                  </small>
                </div>
                <div fxFlex="100" class="mt-1">
                  <button mat-raised-button color="primary"
                          [disabled]="itemForm.invalid || disableButton || !itemForm.dirty">
                    {{'SAVE' | translate}}
                  </button>
                  <span fxFlex></span>
                  <button mat-button color="warn" type="button" (click)="cancelClick()">
                    {{'CANCEL' | translate}}
                  </button>
                </div>

              </div>
            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="{{'CHANGEPASSWORD' | translate}}">
          <mat-card-content class="mt-1">
            <form #form="ngForm" [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      [type]="hidePassword ? 'password' : 'text'"
                      matInput
                      [formControl]="passwordForm.controls['password']"
                      placeholder="{{'CURRENTPASSWORD' | translate}}">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">{{hidePassword ?
                      'visibility' : 'visibility_off'}}
                    </mat-icon>
                  </mat-form-field>
                  <small
                    *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched"
                    class="form-error-msg"> {{'CURRENTPASSWORDREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="passwordForm.controls['password'].hasError('serverValidation') && passwordForm.controls['password'].touched"
                    class="form-error-msg"> {{passwordForm.controls['password'].errors.serverValidation}}
                  </small>
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      [type]="hideNewPassword ? 'password' : 'text'"
                      matInput
                      [formControl]="passwordForm.controls['newPassword']"
                      placeholder="{{'NEWPASSWORD' | translate}}">
                    <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" style="cursor: pointer">
                      {{hideNewPassword ? 'visibility' :
                      'visibility_off'}}
                    </mat-icon>
                  </mat-form-field>
                  <small
                    *ngIf="passwordForm.controls['newPassword'].hasError('required') && passwordForm.controls['newPassword'].touched"
                    class="form-error-msg"> {{'NEWPASSWORDREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="passwordForm.controls['newPassword'].hasError('serverValidation') && passwordForm.controls['newPassword'].touched"
                    class="form-error-msg"> {{passwordForm.controls['newPassword'].errors.serverValidation}}
                  </small>
                </div>
                <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                      [type]="hideConfirmPassword ? 'password' : 'text'"
                      matInput
                      [formControl]="passwordForm.controls['confirmPassword']"
                      placeholder="{{'CONFIRMPASSWORD' | translate}}">
                    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" style="cursor: pointer">
                      {{hideConfirmPassword ? 'visibility' :
                      'visibility_off'}}
                    </mat-icon>
                  </mat-form-field>
                  <small
                    *ngIf="passwordForm.controls['confirmPassword'].hasError('required') && passwordForm.controls['confirmPassword'].touched"
                    class="form-error-msg"> {{'CONFIRMPASSWORDREQUIRED' | translate}}
                  </small>
                  <small
                    *ngIf="passwordForm.controls['confirmPassword'].hasError('serverValidation') && passwordForm.controls['confirmPassword'].touched"
                    class="form-error-msg"> {{passwordForm.controls['confirmPassword'].errors.serverValidation}}
                  </small>
                  <small
                    *ngIf="passwordForm.controls['confirmPassword'].hasError('equalTo') && passwordForm.controls['confirmPassword'].touched && !passwordForm.controls['confirmPassword'].hasError('required')"
                    class="form-error-msg"> {{'CONFIRMPASSWORDSAMEASPASSWORD' | translate}}
                  </small>
                </div>
                <div fxFlex="100" class="mt-1">
                  <button mat-raised-button color="primary"
                          [disabled]="passwordForm.invalid || disableButton || !passwordForm.dirty">
                    {{'SAVE' | translate}}
                  </button>
                  <span fxFlex></span>
                  <button mat-button color="warn" type="button" (click)="cancelClickPassword()">
                    {{'CANCEL' | translate}}
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>

<div fxFlex="100" *ngIf="modelLoaded != 1">
  <div class="pb-1 text-center">
    <p class="text-muted pt-1">{{'FETCHUSER' | translate}}</p>
    <mat-progress-spinner
      [color]="'primary'"
      style="margin:0 auto;"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</div>
