<div *ngIf="disableBoxes" fxFlex="50" class="pr-1">
  <a mat-list-avatar
     class="app-user-photo"
     [ngClass]="{online: true}">
    <img src="assets/images/user.png" alt="">
  </a>
</div>
<h1 matDialogTitle *ngIf="!disableBoxes">{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <input
    name="id"
    [formControl]="itemForm.controls['id']"
    type="hidden"
    placeholder="id">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="name"
          [formControl]="itemForm.controls['name']"
          placeholder="{{'First Name' | translate}}">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['name'].hasError('required') && itemForm.controls['name'].touched"
        class="form-error-msg"> {{'First name is required' | translate}}
      </small>
      <small
        *ngIf="itemForm.controls['name'].hasError('serverValidation') && itemForm.controls['name'].touched"
        class="form-error-msg"> {{itemForm.controls['name'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          type="email"
          name="email"
          [formControl]="itemForm.controls['email']"
          placeholder="{{'EMAIL' | translate}}">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['email'].hasError('required') && itemForm.controls['email'].touched"
        class="form-error-msg"> {{'EMAILREQUIRED' | translate}}
      </small>
      <small
        *ngIf="itemForm.controls['email'].hasError('email') && itemForm.controls['email'].touched && !itemForm.controls['email'].hasError('required')"
        class="form-error-msg"> {{'EMAILNOTWELLFORMATED' | translate}}
      </small>
      <small
        *ngIf="itemForm.controls['email'].hasError('serverValidation') && itemForm.controls['email'].touched"
        class="form-error-msg"> {{itemForm.controls['email'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="mobileNumber"
          [formControl]="itemForm.controls['mobileNumber']"
          placeholder="{{'PHONE' | translate}}">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['mobileNumber'].hasError('required') && itemForm.controls['mobileNumber'].touched"
        class="form-error-msg"> {{'PHONEEREQUIRED' | translate}}
      </small>
      <small
        *ngIf="itemForm.controls['mobileNumber'].hasError('serverValidation') && itemForm.controls['mobileNumber'].touched"
        class="form-error-msg"> {{itemForm.controls['mobileNumber'].errors.serverValidation}}
      </small>
    </div>


    <ng-container *ngIf="data.isNew">
      <div fxFlex="50" class="pr-1" *ngxPermissionsOnly="['COMPANY']">
        <mat-form-field class="full-width">
          <mat-select matInput placeholder="Package" [formControl]="itemForm.controls['packageId']">
            <mat-option value="99999999" ngDefaultControl>
              N/A
            </mat-option>
            <mat-option *ngFor="let packagee of packages" [value]="packagee.id">
              {{packagee.adminPasses.name}} (Remain {{packagee.remainingUsers}} users)
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small
          *ngIf="itemForm.controls['packageId'].hasError('required') && itemForm.controls['packageId'].touched"
          class="form-error-msg"> {{'Package is required' | translate}}
        </small>
        <small
          *ngIf="itemForm.controls['packageId'].hasError('serverValidation') && itemForm.controls['packageId'].touched"
          class="form-error-msg"> {{itemForm.controls['packageId'].errors.serverValidation}}
        </small>
      </div>
    </ng-container>


    <ng-container *ngIf="data.isNew || data.viewOnly">
      <div fxFlex="50" class="pr-1" *ngxPermissionsOnly="['SYSTEM', 'OUR_SYSTEM_USER']">
        <mat-form-field class="full-width">
          <mat-select matInput (selectionChange)="typeChange($event.value, '')"
                      [formControl]="itemForm.controls['type']"
                      placeholder="{{'Type' | translate}}" class="full-widthmb-1">
            <mat-option *ngFor="let type of types" [value]="type.value" ngDefaultControl>
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small
          *ngIf="itemForm.controls['type'].hasError('required') && itemForm.controls['type'].touched"
          class="form-error-msg"> {{'Type is required' | translate}}
        </small>
        <small
          *ngIf="itemForm.controls['type'].hasError('serverValidation') && itemForm.controls['type'].touched"
          class="form-error-msg"> {{itemForm.controls['mobileNumber'].errors.serverValidation}}
        </small>
      </div>
    </ng-container>
    <div *ngIf="typeSelected === '2' || typeSelected === '1'" fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <textarea rows="3"
                  matInput
                  name="info"
                  style="resize: none;"
                  [formControl]="itemForm.controls['info']"
                  placeholder="{{'Info' | translate}}"></textarea>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['info'].hasError('required') && itemForm.controls['info'].touched"
        class="form-error-msg"> {{'Info is required' | translate}}
      </small>
      <small
        *ngIf="itemForm.controls['info'].hasError('serverValidation') && itemForm.controls['info'].touched"
        class="form-error-msg"> {{itemForm.controls['info'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button *ngIf="!disableBoxes" color="primary" [disabled]="itemForm.invalid || disableButton">
        {{'SAVE' | translate}}
      </button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="closeDialog()">
        <span *ngIf="!disableBoxes">
          {{'CANCEL' | translate}}
        </span>
        <span *ngIf="disableBoxes">
          {{'CLOSE' | translate}}
        </span>
      </button>
    </div>
  </div>
</form>
