<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <input
    name="id"
    [formControl]="itemForm.controls['id']"
    type="hidden"
    placeholder="id">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['name']"
          placeholder="Name">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['name'].hasError('required') && itemForm.controls['name'].touched"
        class="form-error-msg"> Name is required
      </small>
      <small
        *ngIf="itemForm.controls['name'].hasError('serverValidation') && itemForm.controls['name'].touched"
        class="form-error-msg"> {{itemForm.controls['name'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['numberOfUsage']"
          placeholder="Number Of Usage">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['numberOfUsage'].hasError('required') && itemForm.controls['numberOfUsage'].touched"
        class="form-error-msg"> Number Of Usage is required
      </small>
      <small
        *ngIf="itemForm.controls['numberOfUsage'].hasError('serverValidation') && itemForm.controls['numberOfUsage'].touched"
        class="form-error-msg"> {{itemForm.controls['numberOfUsage'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select matInput [formControl]="itemForm.controls['typeOfUsage']"
                    placeholder="Type Of Usage" class="full-widthmb-1">
          <mat-option *ngFor="let type of usageTypes" [value]="type.value" ngDefaultControl>
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['typeOfUsage'].hasError('required') && itemForm.controls['typeOfUsage'].touched"
        class="form-error-msg"> Type Of Usage is required
      </small>
      <small
        *ngIf="itemForm.controls['typeOfUsage'].hasError('serverValidation') && itemForm.controls['typeOfUsage'].touched"
        class="form-error-msg"> {{itemForm.controls['typeOfUsage'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select matInput [formControl]="itemForm.controls['outletOfferType']"
                    placeholder="Type" class="full-widthmb-1">
          <mat-option *ngFor="let type of types" [value]="type.value" ngDefaultControl>
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['outletOfferType'].hasError('required') && itemForm.controls['outletOfferType'].touched"
        class="form-error-msg"> Type is required
      </small>
      <small
        *ngIf="itemForm.controls['outletOfferType'].hasError('serverValidation') && itemForm.controls['outletOfferType'].touched"
        class="form-error-msg"> {{itemForm.controls['outletOfferType'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select matInput [formControl]="itemForm.controls['userOutletInfo']"
                    placeholder="Outlet" class="full-widthmb-1">
          <mat-option *ngFor="let outlet of outlets" [value]="outlet.value" ngDefaultControl>
            {{outlet.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['userOutletInfo'].hasError('required') && itemForm.controls['userOutletInfo'].touched"
        class="form-error-msg"> Outlet is required
      </small>
      <small
        *ngIf="itemForm.controls['userOutletInfo'].hasError('serverValidation') && itemForm.controls['userOutletInfo'].touched"
        class="form-error-msg"> {{itemForm.controls['userOutletInfo'].errors.serverValidation}}
      </small>
    </div>
    <!--<div fxFlex="50" class="pr-1">-->
    <!--<mat-form-field class="full-width">-->
    <!--<input-->
    <!--matInput-->
    <!--[formControl]="itemForm.controls['validity']"-->
    <!--placeholder="Validity">-->
    <!--</mat-form-field>-->
    <!--<small-->
    <!--*ngIf="itemForm.controls['validity'].hasError('required') && itemForm.controls['validity'].touched"-->
    <!--class="form-error-msg"> Validity is required-->
    <!--</small>-->
    <!--<small-->
    <!--*ngIf="itemForm.controls['validity'].hasError('serverValidation') && itemForm.controls['validity'].touched"-->
    <!--class="form-error-msg"> {{itemForm.controls['validity'].errors.serverValidation}}-->
    <!--</small>-->
    <!--</div>-->
    <div fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <textarea rows="3"
                  matInput
                  style="resize: none;"
                  [formControl]="itemForm.controls['info']"
                  placeholder="Info"></textarea>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['info'].hasError('required') && itemForm.controls['info'].touched"
        class="form-error-msg"> Info is required
      </small>
      <small
        *ngIf="itemForm.controls['info'].hasError('serverValidation') && itemForm.controls['info'].touched"
        class="form-error-msg"> {{itemForm.controls['info'].errors.serverValidation}}
      </small>
    </div>


    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['imageName1']"
          [readonly]="true"
          placeholder="Main Image" READONLY/>
        <mat-icon matSuffix *ngIf="itemForm.controls['imageName1'].value !== ''" (click)="removeImage(1)"
                  style="cursor: pointer; color: red;">clear
        </mat-icon>
        <mat-icon matSuffix (click)="fileInput1.click()" style="cursor: pointer; color: #247ba0;">file_upload</mat-icon>
      </mat-form-field>
    </div>
    <input type="file" style="display: none" class="form-control" name="batchInput"
           (change)="image1FileChange($event)" accept=".jpg, .jpeg, .png" #fileInput1>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['imageName2']"
          [readonly]="true"
          placeholder="Image Slider 1" READONLY/>
        <mat-icon matSuffix *ngIf="itemForm.controls['imageName2'].value !== ''" (click)="removeImage(2)"
                  style="cursor: pointer; color: red;">clear
        </mat-icon>
        <mat-icon matSuffix (click)="fileInput2.click()" style="cursor: pointer; color: #247ba0;">file_upload</mat-icon>
      </mat-form-field>
    </div>
    <input type="file" style="display: none" class="form-control" name="batchInput"
           (change)="image2FileChange($event)" accept=".jpg, .jpeg, .png" #fileInput2>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['imageName3']"
          [readonly]="true"
          placeholder="Image Slider 2" READONLY/>
        <mat-icon matSuffix *ngIf="itemForm.controls['imageName3'].value !== ''" (click)="removeImage(3)"
                  style="cursor: pointer; color: red;">clear
        </mat-icon>
        <mat-icon matSuffix (click)="fileInput3.click()" style="cursor: pointer; color: #247ba0;">file_upload</mat-icon>
      </mat-form-field>
    </div>
    <input type="file" style="display: none" class="form-control" name="batchInput"
           (change)="image3FileChange($event)" accept=".jpg, .jpeg, .png" #fileInput3>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['imageName4']"
          [readonly]="true"
          placeholder="Image Slider 3" READONLY/>
        <mat-icon matSuffix *ngIf="itemForm.controls['imageName4'].value !== ''" (click)="removeImage(4)"
                  style="cursor: pointer; color: red;">clear
        </mat-icon>
        <mat-icon matSuffix (click)="fileInput4.click()" style="cursor: pointer; color: #247ba0;">file_upload</mat-icon>
      </mat-form-field>
    </div>
    <input type="file" style="display: none" class="form-control" name="batchInput"
           (change)="image4FileChange($event)" accept=".jpg, .jpeg, .png" #fileInput4>
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid || disableButton">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</form>
